@charset "utf-8";
:root {
    --title:値操作クラスを作る（CSS変数、HTML要素、IndexedDB、LocalStorage、Session、Cookie）;
    --line-of-chars:40;
}
body {
    font-size: calc(100vw / (var(--line-of-chars)));
}
img.icon {
    width: 1em;
    height: 1em;
}
p {
    text-indent: 1em;
}
